<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/img/avatar.png">
        </a>
        <a class="navbar-item" href="/">
            <span>{{ site.title }}</span>
        </a>
        <a role="button" class="navbar-burger" data-target="navbarDefault" aria-expanded="false" aria-label="menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbarDefault">
        <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/blog">Blog</a>
                <a class="navbar-item" href="/about">About me</a>
        </div>
        <div class="navbar-end">

        </div>
    </div>
</nav>